@import "variables";
@import "nav";
@import "header";
@import "main";
@import "footer";
@import "medias";


body{
background-image: url(/images/fondoweb.jpg);
background-size: cover;
background-attachment: scroll ;
}